<div class="card mt-4" id="delete">
    <div class="card-header">
        <h5>Delete Account</h5>
        <p class="text-sm mb-0">Once you delete your account, there is no going back. Please be certain.</p>
    </div>
    <div class="card-body d-sm-flex pt-0 padding-sides-x2">
        <div class="d-flex align-items-center mb-sm-0 mb-4">
            <div>
                <div class="form-check form-switch mb-0">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault0">
                </div>
            </div>
            <div class="ms-2">
                <span class="text-dark font-weight-bold d-block text-sm">Confirm</span>
                <span class="text-xs d-block">I want to delete my account.</span>
            </div>
        </div>
        <button class="btn btn-outline-secondary mb-0 ms-auto" type="button" name="button">Deactivate</button>
        <button class="btn bg-gradient-danger mb-0 ms-2" type="button" name="button">Delete Account</button>
    </div>
</div>