<div class="card mt-4" id="password">
    <div class="card-header">
        <h5>Change Password</h5>
    </div>
    <div class="card-body pt-0 padding-sides-x2">
        <form action="{{ path_for('user.update.password', { id: auth.user.id }) }}" method="post">
            <label class="form-label" for="current_password">
                Current password
            </label>
            <div class="form-group">
                <input id="current_password" name="current_password" class="form-control" type="password" placeholder="Current password">
            </div>
            <label class="form-label" for="new_password">
                New password
            </label>
            <div class="form-group">
                <input id="new_password" name="new_password" class="form-control" type="password" placeholder="New password">
            </div>
            <label class="form-label" for="confirm_password">
                Confirm new password
            </label>
            <div class="form-group">
                <input id="confirm_password" name="confirm_password" class="form-control" type="password" placeholder="Confirm password">
            </div>
            <h5 class="mt-5">
                Password requirements
            </h5>
            <p class="text-muted mb-2">
                Please follow this guide for a strong password:
            </p>
            <ul class="text-muted ps-4 mb-0 float-start">
                <li>
                    <span class="text-sm">
                        One special characters
                    </span>
                </li>
                <li>
                    <span class="text-sm">
                        Min 6 characters
                    </span>
                </li>
                <li>
                    <span class="text-sm">
                        One number (2 are recommended)
                    </span>
                </li>
                <li>
                    <span class="text-sm">
                        Change it often
                    </span>
                </li>
            </ul>
            <button class="btn bg-gradient-dark btn-sm float-end mt-6 mb-0">
                Update password
            </button>
            <!-- CSRF protection -->
            {{ csrf.field | raw }}
        </form>
    </div>
</div>