{% extends "/dashboard/layout.twig" %}

{% block content %}

    <div class="container-fluid py-4">

        <!--------------------------
        | Page content comes here |
        -------------------------->
        <h3>
            dashboard
        </h3>

        <!-- Footer -->
        {% include '/dashboard/_partials/footer.twig' %}

    </div>

{% endblock %}