<li class="nav-item dropdown px-3 d-flex align-items-center">
{#    <a href="{{ path_for('backup.database') }}" class="nav-link text-body p-0" aria-expanded="false">#}
    <a href="#" class="nav-link text-body p-0" aria-expanded="false">
        <i class="fa fa-database cursor-pointer"></i>
    </a>
</li>
