<div class="ms-md-auto pe-md-3 d-flex align-items-center">
    <div id="goToSearchInputGroup" class="input-group">
        <span class="input-group-text text-body">
            <i class="fas fa-search" aria-hidden="true"></i>
        </span>
        <input id="goToCase" type="text" class="form-control" placeholder="Go to..." autocomplete="off" aria-label="goToCase">
    </div>
</div>
